body{
    background: linear-gradient(rgba(8, 8, 210, 0.924), rgba(72, 6, 120, 0.946), rgba(147, 4, 147, 0.929));
    overflow: hidden;
}
button{
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid rgba(183, 179, 179, 0.693);
    border-radius: 5px;
    background: rgba(222, 218, 218, 0.876);
}
button:hover{
    background: rgb(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0, 0.5);
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.message{
    border: 1px solid rgb(162, 156, 156);
    width: 500px;
    height: auto;
    background: rgba(174, 169, 169, 0.511);
    border-radius: 5px;
    margin: auto;
    padding: 0 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); 
}
.message input{
    width: 90%;
    padding: 8px 0;
    background: rgba(222, 218, 218, 0.876);
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border: 1px solid rgba(170, 164, 164, 0.771);
}
@media(max-width:480px){
    .message input{
        width: 83%;
    }
}
